* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: antiquewhite;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.875rem;
    margin: 0px;
}

p {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
}

a {
    font-size: 1.25rem;
}

.headerPaginas {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
}


.headerIndex {
    background-image: url(../assets/imagenes/argenplas1.jpg);
    height: 250px;
    width: cover;
}

.tituloPrincipal {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(40px,4vw,75px);
    color: rgb(220, 247, 220);
}


.colorNav {
    background-color: rgba(101, 231, 231, 0.555);
}

.estiloLiNav {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.25rem;
}

.h2 {
    grid-area: h2;
    padding: 3%;
    margin: 0px;
}

.parrafo {
    grid-area: parrafo;
    padding: 3%;
    font-size: 1.563rem;
}

.imagenCompras {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 50px;
}

.margenDeCards {
    margin: 0.313em 0;
}

.paddingBotones {
    display: block;
    padding: 0.5em 0.5em;
}

.footer {
    grid-area: footer;
    font-size: 1.25rem;
    background-color: rgb(231, 59, 59);
}

.divsDelFooter {
    margin: 1% 2%;
}


.videoCables {
    grid-area: video;
    width: 50%;
    height: 50%;
}

iframe {
    margin: 2%;
}


.imgCardProductos {
    width: 100%;
}

.paddingCardProductos {
    padding: 2%;
}

.botonesAnimados:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}

.sinMargenes {
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

@media screen and (max-width: 480px){  
    iframe {
        width: 80%;
    }
}

